@model WebApplication6.Models.Caja

@{
    ViewBag.Title = "Borrar Caja";
}

<div  class="container">
    <hr />
<h2 class="alert alert-danger p-3 shadow border border-danger">Esta seguro de eliminar la caja?</h2>
    <h4>Caja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumCaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumCaja)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar a Inicio", "Index",null,new { @class="btn btn-secondary"})
        </div>
    }
</div>
